<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>SHIREESHA TEXTILES</title>
</head>

<body>

	
	<div class="jumbotron">
	  <center><img th:src="@{/images/shireesha_textiles_logo1.png}" width="400" height="300"/></center> 
	
	<br>
	<center><h4>Dharmavaram Pattu, Benaraz silk, KanchiPuram Pattu... All types of Sarees avilable here</h4></center>
	<hr>
	
	
	<h4>Please check our products. Bulk supply also available with discounts.</h4>
	
	
	<!-- Add a button -->
	<a th:href="@{/employees/products}"
		class="btn btn-primary btn-sm mb-3">
		Our products
	</a>
	
	<h4>We have customers from all over INDIA</h4>
	
	<!-- Add a button -->
	<a th:href="@{/employees/list}"
		class="btn btn-primary btn-sm mb-3">
		Our Customers
	</a>
	
	
	<br>	
	<h4><b>Contact Details:</b></h4>
	<h6><b>Phone Number:</b> XXXXXXXXXX (Watspp number)</h6>
	<h6><b>Mail:</b> XXXXXXXX@gmail.com</h5>
	<h6><b>Address: </b>Door No- XX-XX-XXXX,
	<br>HB Colony, Guntur,
	<br>Andhra Pradesh , India</h5>
	</div>
	
</body>
</html>
      






