<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>SHIREESHA TEXTILES</title>
</head>

<body>
	<div class="jumbotron">
	  <center><img th:src="@{/images/top-banner.jpg}" width="800" height="300"/></center> 
		<br>
		
	<hr>
	
	
	<div class="text-center">
	<h4>Shop by Occasion</h4>
	<br>
	<img th:src="@{/images/IMG1.jpg}" class="rounded mx-auto d-block" alt="IMG1">
	<b><h5>M.R.P.:	₹ 1500.00
		<br>Price:	₹ 750.00
		<br>You Save:	₹ 750.00 (50%)</h4></b>
		<a th:href="@{/employees/BuyNow}"
		class="btn btn-primary btn-sm mb-3">
		Buy Now
		</a>
		<a th:href="@{/employees/AddtoCart}"
		class="btn btn-primary btn-sm mb-3">
		Add to Cart
		</a>	
	<hr>
	<img th:src="@{/images/IMG2.jpg}" class="rounded mx-auto d-block" alt="IMG2">
	<b><h5>M.R.P.:	₹ 1500.00
		<br>Price:	₹ 750.00
		<br>You Save:	₹ 750.00 (50%)</h4></b>
		<a th:href="@{/employees/BuyNow}"
		class="btn btn-primary btn-sm mb-3">
		Buy Now
		</a>
		<a th:href="@{/employees/AddtoCart}"
		class="btn btn-primary btn-sm mb-3">
		Add to Cart
		</a>
		
	<hr>
	<img th:src="@{/images/IMG3.jpg}" class="rounded mx-auto d-block" alt="IMG3">
	<b><h5>M.R.P.:	₹ 1500.00
		<br>Price:	₹ 750.00
		<br>You Save:	₹ 750.00 (50%)</h4></b>
		<a th:href="@{/employees/BuyNow}"
		class="btn btn-primary btn-sm mb-3">
		Buy Now
		</a>
		<a th:href="@{/employees/AddtoCart}"
		class="btn btn-primary btn-sm mb-3">
		Add to Cart
		</a>
		
	<hr>
	<img th:src="@{/images/IMG4.jpg}" class="rounded mx-auto d-block" alt="IMG4">
	<b><h5>M.R.P.:	₹ 1500.00
		<br>Price:	₹ 750.00
		<br>You Save:	₹ 750.00 (50%)</h4></b>
		<a th:href="@{/employees/BuyNow}"
		class="btn btn-primary btn-sm mb-3">
		Buy Now
		</a>
		<a th:href="@{/employees/AddtoCart}"
		class="btn btn-primary btn-sm mb-3">
		Add to Cart
		</a>
		
	<hr>
	<img th:src="@{/images/IMG5.jpg}" class="rounded mx-auto d-block" alt="IMG5">
	<b><h5>M.R.P.:	₹ 1500.00
		<br>Price:	₹ 750.00
		<br>You Save:	₹ 750.00 (50%)</h4></b>
		<a th:href="@{/employees/BuyNow}"
		class="btn btn-primary btn-sm mb-3">
		Buy Now
		</a>
		<a th:href="@{/employees/AddtoCart}"
		class="btn btn-primary btn-sm mb-3">
		Add to Cart
		</a>
		
	<hr>
	<img th:src="@{/images/IMG6.jpg}" class="rounded mx-auto d-block" alt="IM65">
	<b><h5>M.R.P.:	₹ 1500.00
		<br>Price:	₹ 750.00
		<br>You Save:	₹ 750.00 (50%)</h4></b>
		<a th:href="@{/employees/BuyNow}"
		class="btn btn-primary btn-sm mb-3">
		Buy Now
		</a>
		<a th:href="@{/employees/AddtoCart}"
		class="btn btn-primary btn-sm mb-3">
		Add to Cart
		</a>
		
	<hr>
		
		<b><h3><a th:href="@{/employees/helloworld}">Back to Home</a></h3></b>
	
	</div>
	</div>
	
</body>
</html>
      






